body {
  background: #e3516e;
}
#cr {
  width: 0px;
  height: 0px;
  border-radius: 200px;
  border: 200px solid #fff;
  border-top-color: #51b5a9;
  border-left-color: #f7f3d7;
  border-right-color: #fade8b;
  border-bottom-color: transparent;
  transform: rotate(315deg);
  margin: 200px 0 200px 400px;
}
