body {
  background: url("https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  margin: 0;
  text-align: center;
}

.Rf {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  padding: 20px;
 
  transform: translate(-50%,-50%);
  border-radius: 10px;
  background: #ececec;
}
.Rf h1 {
  font-size: 32px;
  color: #5022bb;
  font-weight: 700;
  margin: 5px 0 10px;
}
.Rf input {
  width: 70%;
  margin-bottom: 25px;

  padding: 20px;

  border-radius: 50px;

  font-size: 18px;
  background: #ececec;
}
.Rf button {
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
  border-radius: 50px;
  color: #fff;

  color: #ee7221;
}
