*{
    margin: 0px;
    padding: 0px;
}
.batch h3{
    text-decoration: underline;
    font-weight: 800;

}
.info{
    padding: 5px;
    margin: 10px;
    font-weight: 200px;
}
.info h3{
    font-weight: 800;
}
.link{
    padding: 3px;
    margin: 8px;
}
.link h3{
    font-weight: 800;
}
.section h3{
    font-weight: 800;
}
.table1,th,td{
    border: 1px solid black;
    padding: 4px;
    margin: 10px;

}
.table1{
    height: 20px;
    width: 85%;
    padding: 4px;
    margin: 10px;
}
.table2,th,td{
    border:1px solid black;
    height: 20px;
    width: 85%;
}
.table3,th,td{
    border: 1px solid black;
    padding: 4px;
    margin: 10px;

    height: 20px;
    width: 85%;
}
