*{
    margin: 0px;
    padding: 0px;
}
.batch h3{
    text-decoration: underline;
    font-weight: 800;

}
.info{
    padding: 5px;
    margin: 10px;
    font-weight: 200px;
}
.info h3{
    font-weight: 800;
}
.link{
    padding: 3px;
    margin: 8px;
}
.link h3{
    font-weight: 800;
}
.section h3{
    font-weight: 800;
}
.table1,th,td{
    border: 1px solid black;
    padding: 4px;
    margin: 10px;

}
.table1{
    height: 20px;
    width: 85%;
    padding: 4px;
    margin: 10px;
}
.table2,th,td{
    border:1px solid black;
    height: 20px;
    width: 85%;
}
.table3,th,td{
    border: 1px solid black;
    padding: 4px;
    margin: 10px;

    height: 20px;
    width: 85%;
}
td:nth-child(2n+1){
    color: rgb(110, 7, 64);
}
td:nth-child(even){
    color: rgb(10, 38, 160);
}
th:nth-child(n){
    color:rgb(124, 82, 19) ;
}
tr:nth-child(4n+1){
    background-color:cadetblue;
}
tr:nth-child(4n+2){
    background-color:rosybrown;
}
tr:nth-child(4n+3){
    background-color:firebrick;
}
tr:nth-child(4n+4){
    background-color:greenyellow;
}